{% extends 'base.html'%}

{% block content %}


<div class="container mt-5">

    {% if user.is_superuser%}
    <a class="btn btn-info mb-4" href="{% url 'add_image'%}">Add Image </a>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th class="text-info">Name</th>
          <th class="text-info">Tag</th>
          <th class="text-info">Created At</th>
          <!-- <th class="text-info">Image Id</th> -->
          <th class="text-info">Size</th>
          <th class="text-info">Manage</th>
          
        </tr>
      </thead>
      <tbody>
        {% for image in images %}
        <tr>
          <td class="text-info">{{image.name}}</td>
          <td class="text-info">{{image.tag}}</td>
          <td class="text-info">{{image.created_at}}</td>
          <!-- <td class="text-info">{{image.image_id}}</td> -->
          
          <td class="text-info">{{image.size}}MB</td>

          
          <td class="text-info">
            <div class="dropdown">
              <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
                Dropdown button
              </button>
              <div class="dropdown-menu">
                <a  class="dropdown-item text-info create-container-link" href="#" data-toggle="modal" data-target="#create-container-modal" data-image-obj-id="{{image.id}}" data-image-id="{{image.image_id}}">Create Container</a>
              </div>
            </div> 
          </td>

          
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>




<!-- Modal -->
<div class="modal fade" id="create-container-modal" tabindex="-1" role="dialog" aria-labelledby="create-container-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-container-modal-label">Create Container</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="create-container-form" method="post" action="{% url 'create_container' 0 %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="container-name">Container Name:</label>
            <input type="text" class="form-control" id="container-name" name="container-name" required>
          </div>
          <div class="form-group">
            <label for="cpu-share">CPU Share:</label>
            <input type="number" class="form-control" id="cpu-share" name="cpu-share" required placeholder="maximum amount of CPU share {{max_cpu_share}}">
          </div>
          <div class="form-group">
            <label for="memory-limit">Memory Limit (MB):</label>
            <input type="number" class="form-control" id="memory-limit" name="memory-limit" required placeholder="maximum amount of memory {{max_memory}}GB">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

 












<script>
  $(document).ready(function() {


    $('a.create-container-link').on('click', function(e) {
      e.preventDefault();
      var image_obj_id = $(this).data('image-obj-id');
      $('#create-container-modal').data('image-obj-id', image_obj_id).modal('show');

    });


  $('#create-container-form').submit(function(e) {
    e.preventDefault();

  //   // Get the image ID from the link data attribute
    // var image_id = $('#create-container-modal').data('image-id');
    var image_obj_id = $('#create-container-modal').data('image-obj-id');
  //   console.log(image_id);
  // //   // Get the form fields
    var container_name = $('#container-name').val();
    var cpu_share = $('#cpu-share').val();
    var memory_limit = $('#memory-limit').val();





    // Validate the form fields
    if (!$.isNumeric(cpu_share)) {
      alert('CPU Share must be a numeric value.');
      return;
    }
    if (!$.isNumeric(memory_limit)) {
      alert('Memory Limit must be a numeric value.');
      return;
    }

  //   // Send an AJAX request to create the container
    $.ajax({
      url: "{% url 'create_container' 0 %}".replace("0", image_obj_id),
      type: "POST",
      data: {
        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
        'container_name': container_name,
        'cpu_share': cpu_share,
        'memory_limit': memory_limit,
        // 'image_id':image_id,
      },
      success: function(response) {
        // Redirect to the container detail page
        window.location.href = response.redirect_url;
      },
      error: function(xhr, status, error) {
        console.log("Error:", error);
      }
    });

    // Hide the modal
    $('#create-container-modal').modal('hide');
  });



});
</script>





{% endblock %}